<div class="row">
    <div class="col-sm-12 min-Width">
        <app-card [hidHeader]="true">
            <!-- Partie Header -->

            <div class="row">
                <!-- Partie formulaire à Gauche en haut -->
                <div class="col-md-12">
                    <form action="javascript:">
                        <div class="form-group row">
                            <label for="nom" class="col-sm-3 col-form-label">Nom</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="nom" id="nom" [(ngModel)]="personnel.nom">
                                <p *ngIf="erreurPersonnel.nom != ''" class="erreur">{{erreurPersonnel.nom}}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="prenom" class="col-sm-3 col-form-label">Prenom</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="prenom" id="prenom"
                                    [(ngModel)]="personnel.prenom">
                                <p *ngIf="erreurPersonnel.prenom != ''" class="erreur">{{erreurPersonnel.prenom}}</p>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="role" class="col-sm-3 col-form-label">Role</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="role" id="role" [(ngModel)]="personnel.role">
                                    <option *ngFor='let item of allRoles' [value]="item.id">{{item.libelle}}</option>
                                </select>
                                <p *ngIf="erreurPersonnel.role != ''" class="erreur">{{erreurPersonnel.role}}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="telephone" class="col-sm-3 col-form-label">Téléphone</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="telephone" id="telephone"
                                    [(ngModel)]="personnel.telephone">
                                <p *ngIf="erreurPersonnel.telephone != ''" class="erreur">{{erreurPersonnel.telephone}}
                                </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="email" id="email"
                                    [(ngModel)]="personnel.email">
                                <p *ngIf="erreurPersonnel.email != ''" class="erreur">{{erreurPersonnel.email}}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="adresse" class="col-sm-3 col-form-label">Adresse</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="adresse" id="adresse"
                                    [(ngModel)]="personnel.adresse">
                            </div>
                        </div>
                    </form>
                </div>

                <hr style="width: 100%; margin-top: 10px; margin-bottom: 5px;">

                <div style="padding: 10px; text-align: right; padding-top:0px; padding-bottom:0px; width: 100%;">
                    <button *ngIf="!isLoading" class="btn btn-primary" type="button" (click)="modifierPersonnel()">
                        Modifier
                    </button>
                    <button *ngIf="isLoading" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Chargement...
                    </button>

                </div>
            </div>
        </app-card>
    </div>
</div>