<ng-template #contentM #item let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajouter Article </h4>
        <p type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </p>
    </div>

    <div class="modal-body">
        <form action="javascript:">
            <button class="btn-modal-desactive"></button>

            <div class="form-group row">
                <label for="titre" class="col-sm-3 col-form-label">Article</label>
                <div class="col-sm-9">
                    <app-autocomplete [bordureRed]="erreurArticle.reference != ''" modeMultiSortie=true
                        [shemaMultiSortie]="shemaMultiSortie" (addElementEvent)="setArticle2ID($event)"
                        [keySelected]="keySelectedArticle" [objet]="shemaArticle2" [articles]="allArticles"
                        [idSelected]="itemArticleSelected.article" idHtml="3" [itemsNumberSimple]="shemaArticle2Number"
                        [itemsNumberQuantite]="shemaArticle2Quantite">
                    </app-autocomplete>

                    <p *ngIf="erreurAjouterArticle != ''" class="erreur">{{erreurAjouterArticle}}</p>
                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="ajouterArticle2()">{{titreCrud}}</button>
    </div>
</ng-template>

<div class="col-xl-14" style="display: flex; flex-direction: row;">
    <button (click)="getPrixSpecifiques()" class="btn btn-info ng-tns-c112-14"
        style="font-size: 15px; padding:2px; height: 30px; display: inline-block; white-space: nowrap; margin-left: auto;">
        <i class="feather icon-search"></i>
    </button>

    <div>
        <app-showelements [items]="shemaArticle" [itemsVariable]="shemaArticleVariables"></app-showelements>
    </div>

    <button type="button" class="btn btn-info" style="font-size: 15px; padding:2px; height: 30px; display: inline-block; white-space: nowrap; margin-left: 3px;" (click)="openAjouter(contentM, '')">
        <i class="fa fa-plus"></i>
    </button>
</div>

<div class="col-xl-14" style="display: flex; flex-direction: row;">

    <div class="table-responsive prix-specifque" style="width: calc(100% - 130px);">
        <table class="table table-striped" id="output">

            <thead>
                <tr class="rechercherligne tr-value">
                    <th *ngFor="let key of objectKeys(shemaArticleVariables)">
                        <div class="form-group">
                            <form [formGroup]="formC">

                                <input type="text" placeholder="Recherche" class="form-control" [formControlName]="key">
                            </form>
                        </div>
                    </th>
                </tr>
            </thead>

            <thead>
                <tr class="tr-value">
                    <th *ngFor="let key of objectKeys(shemaArticleVariables)" style="min-width:100px !important;">
                        <div class="th-tableau" (click)="changeCroissante(key)">
                            {{shemaArticle[key]}}

                            <div class="buttons-croissante">

                                <i class="fas fa-caret-up croissante {{key}}-croissante"></i>
                                <i class="fas fa-caret-down croissante {{key}}-croissante"></i>

                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="inisialiserEmptyTab()">

                <tr *ngFor="let item of articles" class="tr-value" [style]="getStyleErrorLigne(item)">
                    <td *ngFor="let key of objectKeys(shemaArticleVariables)">
                        <div>
                            <span *ngIf="key == 'numero'">{{item[key]}}</span>

                            <span *ngIf="key == 'prixAchat'"
                                style="float:right; text-align: right;">{{fonctionPartagesService.getFormaThreeAfterVerguleNomber(fonctionPartagesService.getLibelleById(item['article'],
                                allArticles, 'prixAchat'))}}</span>
                            <span *ngIf="key == 'reference'">{{fonctionPartagesService.getLibelleById(item['article'],
                                allArticles, 'reference')}}</span>
                            <span *ngIf="key == 'designation'">{{fonctionPartagesService.getLibelleById(item['article'],
                                allArticles, 'designation')}}</span>

                            <span *ngIf="key == 'newPrixVenteHT'"
                                style="float:right; text-align: right; color:red; font-weight: 900; font-size: 15px;">{{fonctionPartagesService.getFormaThreeAfterVerguleNomber(item[key])}} </span>

                            <div *ngIf="tabNumbers.includes(key)" class="col-sm-12"
                                style="padding-left:0px; padding-right:0px;">
                                <app-input-number-vergule [field]="item" key="{{key}}"
                                    idUnique="{{key+item['numero']+item['id']}}" (change)="getPrixAfterMarge(item.id, fonctionPartagesService.getLibelleById(item['article'],
                                    allArticles, 'prixAchat'))"></app-input-number-vergule>
                            </div>

                            <div *ngIf="key == 'note'" style="width: 150px;">
                                <input type="text" class="form-control" [(ngModel)]="item.note">
                            </div>

                            <div *ngIf="key == 'sousProduit'" style="width: 150px;">
                                <select style="width: 100%;" [(ngModel)]="item.sousProduit" [id]="key+item.id">
                                    <option value="">Vide</option>
                                    <option *ngFor="let item of item.sousProduits" [value]="item.id">{{item.reference}}
                                    </option>
                                </select>
                            </div>
                           
                            <div *ngIf="key == 'client'" style="width: 150px;">
                                <app-autocomplete (addElementEvent)="setClientID($event)"
                                    [keySelected]="keySelectedClient" [objet]="objetClient" [articles]="allClients"
                                    [idSelected]="item.client" [idHtml]="key + item.id"
                                    (openAddElementEvent)="openModalAjoutClient()" sendMode2Parametres="oui"
                                    [parametres2]="item">
                                </app-autocomplete>
                            </div>

                        </div>
                    </td>

                </tr>

                <tr *ngFor="let item of tabEmpty" class="tr-value">
                    <th *ngFor="let key of objectKeys(shemaArticleVariables)">
                        <span style="color:transparent;">i</span>
                    </th>

                </tr>

            </tbody>

        </table>
    </div>

    <div class="table-responsive prix-specifque table-action" style="width: 130px;">
        <table class="table table-striped" id="output">
            <thead>
                <tr class="tr-action">
                    <th>
                        <div class="form-group">
                            <form [formGroup]="formC">
                                <input style="visibility: hidden;" type="text" placeholder="Recherche"
                                    class="form-control">
                            </form>
                        </div>
                    </th>
                </tr>
            </thead>
            <thead>
                <tr class="tr-action">
                    <th>
                        <div class="th-tableau">
                            Action

                            <div class="buttons-croissante">

                                <i class="fas fa-caret-up croissante -croissante"></i>
                                <i class="fas fa-caret-down croissante -croissante"></i>

                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let item of articles" class="tr-action">
                    <td>
                        <button title="Ajouter element sous ce ligne" class="btn btn-icon btn-outline-info"
                            style="margin-right: 5px;" (click)="openAjouter(contentM, item.id)">
                            <i class="fa fa-plus"></i>
                        </button>

                        <button title="supprimer prix specifique" class="btn btn-icon btn-outline-danger"
                            style="margin-right: 5px;" *ngIf="item.numero != 0"
                            (click)="openModalDelete(item.id,'N°='+item.numero)">
                            <i class="fa fa-trash"></i>
                        </button>

                        <button title="cacher ce ligne" class="btn btn-icon btn-outline-warning"
                            style="margin-right: 5px;" *ngIf="item.numero != 0" (click)="deleteLigne(item.numero)">
                            <i class="fa fa-times"></i>
                        </button>

                    </td>
                </tr>

                <tr *ngFor="let item of tabEmpty" class="tr-action">
                    <th>
                        <span style="color:transparent;">i</span>
                    </th>
                </tr>

            </tbody>

        </table>
    </div>

    <app-spinner2 *ngIf="isLoading"></app-spinner2>

</div>

<app-delete-modal [isLoading]="isLoading" [isOpenModalDelete]="isOpenModalDelete" [idDeleteModal]="idDeleteModal"
    [params1Delete]="params1Delete" [params2Delete]="params2Delete" (deleteItem)="deleteItem()"
    (closeModalDelete)="closeModalDelete()"></app-delete-modal>