<table class="table table-striped" id="output">
    <thead>
        <tr>
            <th>
                Type 
            </th>
            <th>
                <div class="col-sm-12">
                    Montant
                </div>
            </th>

        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let item of listFrais">

            <td>
              {{getType(item.frais)}}
            </td>

            <td>
                <app-input-number-vergule *ngIf="isModifiable == 'oui'" [field]="item" key="montant" idUnique="montant{{item.frais}}"
                (ngModelChange)="changePrix()"></app-input-number-vergule>

                <div class="col-sm-12 collapse-input" *ngIf="isModifiable != 'oui'">
                    <span class="form-control desactive-text-span collapse-input-table" >{{getNumber(item['montant'])}} </span>
                </div>
            </td>
        
        </tr>

    </tbody>
</table>
