<!-- Model de modification -->
<ng-template #contentM #item let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Modification ConditionReglement</h4>
        <p type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </p>
    </div>
    <div class="modal-body">
        <form action="javascript:">
            <div class="form-group row">
                <label for="libelle" class="col-sm-2 col-form-label">libelle</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="libelle" name="libelle" [(ngModel)]="conditionReglement.libelle">
                    <p *ngIf="erreurConditionReglement.libelle != ''" class="erreur">
                        {{erreurConditionReglement.libelle}}</p>
                </div>
                 <div class="col-sm-6">
                    <select style="width: 100%;" id="var" name="var" [(ngModel)]="conditionReglement2" (change)="construireLibelle($event.target.value)">
                        <option [value]="conditionReglement2">{{conditionReglement2}}</option>
                        <option *ngFor="let item of tab" [value]="item">{{item}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modifierConditionReglement()">Modifier</button>
    </div>
</ng-template>
<!-- Model d'ajout -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajouter ConditionReglement</h4>
        <p type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </p>
    </div>
    <div class="modal-body">
        <form action="javascript:">
            <div class="form-group row">
                <label for="libelle" class="col-sm-2 col-form-label">libelle</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="libelle" name="libelle"
                        [(ngModel)]="conditionReglement.libelle">
                    <p *ngIf="erreurConditionReglement.libelle != ''" class="erreur">
                        {{erreurConditionReglement.libelle}}</p>
                </div>
                <div class="col-sm-6">
                    <select style="width: 100%;" (change)="construireLibelle($event.target.value)" name="libelle2"
                        id="libelle2">
                        <option value="jours">Jours</option>
                        <option value="mois">Mois</option>
                        <option value="annee">Année</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="enregistrerConditionReglement()">Enregistrer</button>
    </div>
</ng-template>

<div class="col-xl-14">
    <app-card cardTitle="Liste des conditions de reglement" blockClass="table-border-style">
        <form [formGroup]="formC">
            <div class="category-page-wrapper">
                <div class="result-inner">
                    <!--Showing 1 to 8 of 10 (2 Pages)-->
                </div>
                <div class="pagination-inner">
                    <button type="button" class="btn btn-info ng-tns-c112-14" (click)="open(content)"
                        style="font-size: 12px; padding:5px; height: 30px; display: inline-block; white-space: nowrap; margin-left: 3px;">
                        Ajouter ConditionReglement <i class="fas fa-plus"></i>
                    </button>
                    <ul class="pagination">
                        <li>
                            <i _ngcontent-eep-c121="" class="feather icon-camera" (click)="printout()"></i>
                        </li>
                        <li>
                            <i class="fas fa-file-pdf" (click)="generatePDF()"></i>
                        </li>
                        <li>
                            <i class="fas fa-file-excel" (click)="exportexcel()"></i>
                        </li>
                    </ul>
                    <div class="th-tableau2" style="margin-top:5px;">
                        <select class="form-control form-control-sm"
                            style="font-size: 12px; max-width: 58px; padding-left: 3px;" formControlName="limit"
                            (change)="getConditionReglements()">
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                            <option value=10>10</option>
                        </select>

                        <button (click)="getConditionReglements()" class="btn btn-info ng-tns-c112-14"
                            style="font-size: 15px; padding:2px; height: 30px; display: inline-block; white-space: nowrap; margin-left: 3px;">
                            <i class="feather icon-search"></i>
                        </button>

                        <div style="margin-left:auto;">
                            <app-showelements [items]="items" [itemsVariable]="itemsVariable"></app-showelements>
                        </div>
                    </div>

                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped" id="output">
                    <thead>
                        <tr class="rechercherligne">
                            <th *ngFor="let key of objectKeys(itemsVariable)">
                                <div class="form-group">
                                    <input type="text" placeholder="Recherche" class="form-control"
                                        [formControlName]="key">
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th *ngFor="let key of objectKeys(itemsVariable)">
                                <div class="th-tableau" (click)="changeCroissante(key)">
                                    {{key}}
                                    <div class="buttons-croissante">
                                        <i class="fas fa-caret-up croissante {{key}}-croissante"></i>
                                        <i class="fas fa-caret-down croissante {{key}}-croissante"></i>
                                    </div>
                                </div>
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of conditionReglements">
                            <td *ngFor="let key of objectKeys(itemsVariable)">{{item[key]}}</td>
                            <td>
                                <a _ngcontent-myx-c121="" [href]="" (click)="openModifier(contentM,item)"
                                    class="btn btn-icon btn-outline-success" style="margin-right: 5px;">
                                    <i _ngcontent-myx-c121="" class="feather icon-edit"></i>
                                </a>
                                <a _ngcontent-myx-c121="" href="javascript:" class="btn btn-icon btn-outline-danger"
                                    (click)="openModalDelete(item.id,item.libelle)">
                                    <i _ngcontent-myx-c121="" class="feather icon-trash-2"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <app-spinner2 *ngIf="isLoading"></app-spinner2>
            <hr>
            <app-pagination [page]="request.page" [totalPage]="totalPage" (setPageEvent)="setPage($event)">
            </app-pagination>
        </form>
        <app-delete-modal [isLoading]="isLoading" [isOpenModalDelete]="isOpenModalDelete"
            [idDeleteModal]="idDeleteModal" [params1Delete]="params1Delete" [params2Delete]="params2Delete"
            (deleteItem)="deleteItem()" (closeModalDelete)="closeModalDelete()"></app-delete-modal>
    </app-card>
</div>