<app-controle-acces [avoirAccee]="informationGenerale.verifierAccee('modifierBonCommande')"></app-controle-acces>


<app-input-bon-livraison
    *ngIf="informationGenerale.verifierAccee('modifierBonCommande')"
    [lienAjoute]="lienAjoute"
    [apiList]="apiList"
    [apiParametres]="apiParametres"
    [lienModifie]="lienModifie"
    [lienGetById]="lienGetById"
    [titreDocument]="titreDocument"
    [modeTiere]="modeTiere"
    [titreCrud]="titreCrud"
    [pageList] ="pageList"
    [apiAjouteReception]="apiAjouteReception"
    
></app-input-bon-livraison>