<app-card [hidHeader]="true">
    <div class="card ng-tns-c92-22 ng-trigger ng-trigger-cardRemove borderless" style="opacity: 1;">
        <div class="card-body ng-tns-c92-12 d-flex align-items-center justify-content-between ng-star-inserted">
            <h5 class="mb-0 ng-tns-c92-12">Tache projet Interne details</h5>
            <button _type="button" data-toggle="collapse" data-target=".pro-det-edit" aria-expanded="false"
                aria-controls="pro-det-edit-1 pro-det-edit-2"
                class="btn btn-primary btn-sm rounded m-0 float-right ng-tns-c92-12">
                <i class="feather icon-edit"></i></button>
        </div>
        <div class="row border-top">
            <!-- Partie formulaire à Gauche en haut -->
            <div class="col">
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label font-weight-bolder">Référence</label>
                    <div class="col-sm-6 col-form-label"> {{tacheProjetInterne.reference}} </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label font-weight-bolder">Projet Interne</label>
                    <div class="col-sm-6 col-form-label"> {{tacheProjetInterne.projetInterne}} </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label font-weight-bolder">Affecte A</label>
                    <div class="col-sm-6 col-form-label"> {{tacheProjetInterne.affecteA}} </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label font-weight-bolder">Date Debut</label>
                    <div class="col-sm-6 col-form-label"> {{tacheProjetInterne.dateDebut}} </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label font-weight-bolder">Date Fin</label>
                    <div class="col-sm-6 col-form-label"> {{tacheProjetInterne.dateFin}} </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label font-weight-bolder">chargeTravail</label>
                    <div class="col-sm-6"> {{tacheProjetInterne.chargeTravail}} </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label font-weight-bolder">Avancement</label>
                    <div class="col-sm-6"> {{tacheProjetInterne.avancement}} </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label font-weight-bolder">Description</label>
                    <div class="col-sm-6 col-form-label"> {{tacheProjetInterne.description}} </div>
                </div>
            </div>
        </div>
    </div>
</app-card>