<app-controle-acces [avoirAccee]="informationGenerale.verifierAccee('modifierClient')"></app-controle-acces>


<div class="row" *ngIf="informationGenerale.verifierAccee('modifierClient')">
    <div class="col-sm-12">
        <app-card [hidHeader]="true">
            <!-- Partie Header -->
            <div class="form-group row" style="justify-content: space-between !important;">
                <div class="text-titre">
                    <h3>{{titre}}</h3>
                </div>
                <div class="left-button">
                    <button *ngIf="!isLoading" class="btn btn-primary" type="button"
                        (click)="modifierClient()">Modifier</button>

                    <button *ngIf="isLoading" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Chargement...
                    </button>

                </div>
            </div>
            <hr>
            <app-client-html
                [allSecteurs] ="allSecteurs"
                [allModeReglements] = "allModeReglements"
                [allTypeTiers] = "allTypeTiers"
                [allClients] = "allClients"
                [tabCode] = "tabCode"
                [tabMatricule] = "tabMatricule"
                [tabRaisonSociale] = "tabRaisonSociale"
                [allConditionReglements] = "allConditionReglements"
                [autreAdresse] = "autreAdresse"
                [contacts] = "contacts"
                [complements] = "complements"
                [request] = "request"
                [client] = "client"
                (getAllParametres)="getAllParametres()"
                [isLoading]="isLoading"
                [erreurClient]="erreurClient"
                [allTypeContacts]="allTypeContacts"
                [allPersonnels] = "allPersonnels"
            >
            </app-client-html>
        </app-card>
    </div>
</div>
