<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true">
            <!-- Partie Header -->
            <div class="form-group row" *ngIf="!isPopup">
                <div class="text-titre">
                    <h3>Ajouter Mission</h3>
                </div>
                <div class="left-button">
                    <button *ngIf="!isLoading" class="btn btn-primary" type="button" (click)="ajoutMission()">
                        Enregister
                    </button>
                    <button *ngIf="isLoading" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Chargement...
                    </button>
                </div>
            </div>
            <hr *ngIf="!isPopup">
            <div class="row">
                <!-- Partie formulaire à Gauche en haut -->
                <div class="col-md-6">
                    <form action="javascript:">
                        <div class="form-group row">
                            <label for="libelle" class="col-sm-3 col-form-label">Libellé</label>
                            <div class="col-sm-9">
                                <input type="input" class="form-control" name="libelle" id="libelle"
                                    placeholder="Enter libelle" [(ngModel)]="mission.libelle">
                                <p *ngIf="erreurMission.libelle != ''" class="erreur">{{erreurMission.libelle}}</p>
                            </div>
                        </div>
                    </form>
                </div>
                
                <hr *ngIf="isPopup" style="width: 100%; margin-top: 10px; margin-bottom: 5px;">
  
                <div *ngIf="isPopup" style="padding: 10px; text-align: right; padding-top:0px; padding-bottom:0px; width: 100%;">
                  
                    <button *ngIf="!isLoading" class="btn btn-primary" type="button" (click)="ajoutMission()">
                        Enregister
                    </button>
                    <button *ngIf="isLoading" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Chargement...
                    </button>
              
                </div>

            </div>
        </app-card>
    </div>
</div>