
<div class="row">
    <!-- Partie formulaire à Gauche en haut -->
    <div class="col-sm-12">
        <form action="javascript:">
            <div class="form-group row">
                <label for="dateEcheance" class="col-sm-4 col-form-label">Numero</label>
                <div class="col-sm-8">
                    <span name="numero" id="numero">{{this.bonLivraison.numero}}</span>
                </div>
            </div>

            <div class="form-group row">
                <label for="montant" class="col-sm-4 col-form-label">Montant</label>
                <div class="col-sm-8 collapse-input">
                    <input *ngIf="erreurReglement.montant == ''" type="number" class="form-control desactive-text-input" name="montant"
                        id="montant" [(ngModel)]="reglement.montant" (focus)="showInput($event)" (change)="setlitterage()">
                    <span *ngIf="erreurReglement.montant == ''" class="form-control desactive-span" name="montant" (click)="showInput($event)">
                        {{fonctionPartagesService.getFormaThreeAfterVerguleNomber(reglement.montant)}}
                    </span>
                    <input *ngIf="erreurReglement.montant != ''" type="number" class="form-control desactive-text-input border-erreur" name="montant"
                        id="montant" [(ngModel)]="reglement.montant" (focus)="showInput($event)" (change)="setlitterage()">
                    <span *ngIf="erreurReglement.montant != ''" class="form-control border-erreur desactive-span" name="montant" (click)="showInput($event)" style="border: red solid 1px !important;">
                        {{fonctionPartagesService.getFormaThreeAfterVerguleNomber(reglement.montant)}}
                    </span>

                    <p *ngIf="erreurReglement.montant != ''" class="erreur">{{erreurReglement.montant}}</p>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="modeReglement" class="col-sm-4 col-form-label">Mode de reglement</label>
                <div class="col-sm-8">
                    <app-autocomplete (addElementEvent)="setModeReglementID($event)"
                        [keySelected]="keySelectedModeReglement" [objet]="objetModeReglement"
                        [articles]="allModeReglement" [idSelected]="reglement.modeReglement" idHtml="Reglement3" (openAddElementEvent)="openModalAjoutModeReglement()" [bordureRed]="erreurReglement.modeReglement != ''">
                    </app-autocomplete>

                    <p *ngIf="erreurReglement.modeReglement != ''" class="erreur">{{erreurReglement.modeReglement}}</p>
                </div>
            </div>

            <div class="form-group row">
                <label for="dateEcheance" class="col-sm-4 col-form-label">Date echeance</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" name="dateEcheance" id="dateEcheance"
                        placeholder="Entrer dateEcheance" [(ngModel)]="reglement.dateEcheance">
                </div>
            </div>

            <div class="form-group row">
                <label for="tresorerie" class="col-sm-4 col-form-label">Tresorerie</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="tresorerie" id="tresorerie"
                        placeholder="Entrer tresorerie" [(ngModel)]="reglement.tresorerie">
                </div>
            </div>
            <div class="form-group row">
                <label for="numCheque" class="col-sm-4 col-form-label">Numero de cheque</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="numCheque" id="numCheque" (focus)="showInput($event)"
                        placeholder="Entrer numCheque" [(ngModel)]="reglement.numCheque">
                </div>
            </div>

            <div class="form-group row">
                <label for="dateReglement" class="col-sm-4 col-form-label">Date reglement</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" name="dateReglement" id="dateReglement"
                        placeholder="Entrer dateReglement" [(ngModel)]="reglement.dateReglement">
                </div>
            </div>

            <div class="form-group row">
                <label for="montant" class="col-sm-4 col-form-label">Montant affecté</label>
                <div class="col-sm-8 collapse-input">
                    <input type="number" class="form-control desactive-text-input" name="montantAPayer"
                        id="montantAPayer" [(ngModel)]="reglement.montantAPayer" (focus)="showInput($event)" (change)="setlitterage()">
                    <span class="form-control desactive-span" name="montantAPayer" (click)="showInput($event)">
                        {{fonctionPartagesService.getFormaThreeAfterVerguleNomber(reglement.montantAPayer)}}
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <label for="modeReglement" class="col-sm-4 col-form-label">Reste</label>
                <div class="col-sm-8" >
                    <span class="form-control desactive-span" name="reste">
                        {{fonctionPartagesService.getFormaThreeAfterVerguleNomber(reglement.reste)}}
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <label for="notes" class="col-sm-4 col-form-label">Observation</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="notes" id="notes"
                        placeholder="Entrer notes" [(ngModel)]="reglement.notes">
                </div>
            </div>

        </form>
    </div>

    <div class="col-md-12">
        <hr style="margin:5px 0px; width: 100%;">
        <button type="button" class="btn btn-primary" style="float:right;" (click)="addReglement()">Ajouter</button>
    </div>

    

</div>

<app-add-element-modal [isLoading]="isLoading" [isOpenModalAjoutElement]="isOpenModalAjout"
[idAjoutElementModal]="idAjoutModal" (closeModalAjoutElement)="closeModalAjout()" [typeElement]="typeElement"></app-add-element-modal>
