<div class="row">
    <div class="col-sm-12 min-Width">
<app-card [hidHeader]="true">
    <div>
        
        <div class="row">
            <!-- Partie formulaire à Gauche en haut -->
            <div class="col-12">
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label font-weight-bolder">Nom</label>
                    <label class="col-sm-6 col-form-label"> {{personnel.nom}} </label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label font-weight-bolder">Prenom</label>
                    <label class="col-sm-6 col-form-label"> {{personnel.prenom}} </label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label font-weight-bolder">Role</label>
                    <label class="col-sm-6 col-form-label"> {{getRole(personnel.role)}} </label>
                </div>
            </div>
            <!-- Partie formulaire à Droite en haut -->
            <div class="col-12">
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label font-weight-bolder">Email</label>
                    <label class="col-sm-6 col-form-label"> {{personnel.email}} </label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label font-weight-bolder">Telephone</label>
                    <label class="col-sm-6 col-form-label"> {{personnel.telephone}} </label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label font-weight-bolder">Adresse</label>
                    <label class="col-sm-6 col-form-label"> {{personnel.adresse}} </label>
                </div>
            </div>
        </div>

        <div *ngIf="isLoading"  style="padding: 10px; text-align: right; padding-top:0px; padding-bottom:0px; width: 100%;">
            <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Chargement...
            </button>
        
        </div>
    </div>
</app-card>
</div>
</div>