<!-- Model de modification -->
<ng-template #contentM let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajouter Réglement</h4>
        <p type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </p>
    </div>
    <div class="modal-body">
         
        <app-reglement-input2
        [allModeReglement]="allModeReglement"
        [reglements]="reglements"
        [isLoading]="isLoading"
        (getAllParametres)="getAllParametres2()"
        (joinAndClose)="joinAndClose()"
        [bonLivraison]="bonLivraison"
        >
        </app-reglement-input2>

    </div>

    <div class="modal-footer">
    </div>
    
</ng-template>

<div class="table-responsive">
    <hr>
    <app-spinner2 *ngIf="isLoading"></app-spinner2>
    
    <button type="button" class="btn btn-info ng-tns-c112-14" *ngIf="!isLoading"
       style="font-size: 12px; padding:5px; height: 30; margin-right: 0px; float:right;" (click)="open(contentM)" >
       Ajouter Réglement <i class="fa fa-plus" aria-hidden="true"></i>
    </button>

    <table class="table table-striped" id="output">
        <thead>
            <tr>
                <th *ngFor="let key of objectKeys(itemsVariableG)">
                    <div class="th-tableau" (click)="changeCroissante(key)">
                        {{itemsVariableG[key]}}
                        <div class="buttons-croissante">

                            <i class="fas fa-caret-up croissante {{key}}-croissante"></i>
                            <i class="fas fa-caret-down croissante {{key}}-croissante"></i>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let itemG of reglements">
                <td *ngFor="let key of objectKeys(itemsVariableG)">
                    <span *ngIf="key == 'numero'">{{itemG.id}}</span>
                    <span *ngIf="['numCheque'].includes(key)">{{itemG[key]}}</span>
                    <span style="float:right; " *ngIf="['reste'].includes(key)">{{fonctionPartagesService.getFormaThreeAfterVerguleNomber(itemG[key])}}</span>
                    <span *ngIf="['dateReglement', 'dateEcheance'].includes(key)" style="text-align: center; display: block;">{{getDate(itemG[key])}}</span>
                    
                    <span *ngIf="key == 'modeReglement'">{{getModeReglement(itemG[key])}}</span>
                    
                    <div *ngIf="key == 'montantAPayer'" class="col-md-12 collapse-input" style="padding-left: 0px !important; padding-right: 0px !important;">
                        <input type="number" class="form-control desactive-text-input collapse-input-table"
                             [attr.name]="itemG.id + 'montantAPayer'" [id]="itemG.id + 'montantAPayer'" [(ngModel)]="itemG[key]"
                            (focus)="showInput2($event)" (change)="changeMontant()">
                        <span [attr.name]="itemG.id + 'montantAPayer'"
                            class="form-control desactive-text-span collapse-input-table"
                            (click)="showInput2($event)" style="margin-left:0px !important; margin-right:0px !important; width: 100% !important; ">{{fonctionPartagesService.getFormaThreeAfterVerguleNomber(itemG[key])}} </span>
                    </div>

                    <div *ngIf="key == 'montant' && itemG['numero'] == ''" class="col-md-12 collapse-input" style="padding-left: 0px !important; padding-right: 0px !important;">
                        <input type="number" class="form-control desactive-text-input collapse-input-table"
                            [attr.name]="itemG.id + 'montant'" [id]="itemG.id + 'montant'" [(ngModel)]="itemG[key]"
                            (focus)="showInput2($event)" (change)="changeMontant()">
                        <span [attr.name]="itemG.id + 'montant'"
                            class="form-control desactive-text-span collapse-input-table"
                            (click)="showInput2($event)" style="margin-left:0px !important; margin-right:0px !important; width: 100% !important; ">{{fonctionPartagesService.getFormaThreeAfterVerguleNomber(itemG[key])}} </span>
                    </div>

                    <span style="float:right;" *ngIf="key == 'montant' && itemG['numero'] != ''">{{fonctionPartagesService.getFormaThreeAfterVerguleNomber(itemG[key])}}</span>
                 
                </td>
            </tr>

            <tr *ngIf="reglements.length == 0">
               <td colspan="20" style="text-align: center;">
                     Vide
               </td> 
            </tr>
        </tbody>
    </table>

</div>


